<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="client.resources.dao.PlcDataDayMapper">
    <select id="getAllPlcDataDays" resultType="entities.PlcDataDay">
        select * from unitedsws.plc_data_day where isSend = false;
    </select>
    <select id="getSendPlcDataDay" resultType="entities.PlcDataDay">
        select * from unitedsws.plc_data_day where unitedsws.plc_data_day.create_date > #{startTime} and unitedsws.plc_data_day.create_date &lt;= #{endTime}
        and unitedsws.plc_data_day.isSend = 0;
    </select>
    <update id="batchUpdatePlcDataDayIsSend" parameterType="java.util.List">
        update unitedsws.plc_data_day set isSend = true where id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            ${item.id}
        </foreach>
    </update>
</mapper>