<component name="libraryTable">
  <library name="Spring-4.3.13.RELEASE" type="spring">
    <properties version="4.3.13.RELEASE" />
    <CLASSES>
      <root url="file://$PROJECT_DIR$/src/main/webapp/WEB-INF/lib" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$PROJECT_DIR$/src/main/webapp/WEB-INF/lib" recursive="false" />
  </library>
</component>