<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.ReceiveMapper">
    <insert id="insertReceive" parameterType="entities.Message">
        INSERT INTO receive VALUES(#{id}, #{address}, #{message}, #{date}, #{isSend})
    </insert>
</mapper>